@use 'sass:list';

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 calc($grid-gutter / -2);
}

[class^="col"],
.col {
    align-items: flex-start;
    display: flex;
    flex: 1 1 0;
    padding: 0 calc($grid-gutter / 2);
}

@each $step in $grid-steps {
    .col-#{$step} {
        flex: 0 0 auto;
        width: #{calc(($step / list.length($grid-steps)) * 100%)};
    }
}

@each $breakpoint, $size in $grid-breakpoints {
    @media (min-width: $size) {
        @each $step in $grid-steps {
            .col-#{$breakpoint}-#{$step} {
                flex: 0 0 auto;
                width: #{calc(($step / list.length($grid-steps)) * 100%)};
            }
        }
    }
}