@import '../../styles/required';

.wf-tree-item {
    &__button {
        background: none;
        border: 0;
        border-radius: 8px;
        color: rgba(var(--wf_interface));
        cursor: pointer;
        display: flex;
        align-items: center;
        line-height: 1.5rem;
        margin-bottom: 10px;
        padding: 0 14px; // 3px is accounted for in tree-view padding
        text-align: left;
        text-transform: capitalize;
        width: 100%;

        &:focus-visible {
            @include focus-success;
        }
    }

    &__children {
        height: 0px;
        padding-left: 10px;
        overflow: hidden;
        transition: 0.5s ease height;

        // TODO: animate expansion
        &--expanded {
            height: auto;
            overflow: visible;
        }
    }

    &__icon,
    &__spacer {
        display: block;
        height: 1.5rem;
        margin-right: 15px;
        width: 1.5rem;
    }

    &__chevron {
        margin-left: auto;
        transition: $transition-timing transform;

        &--expanded {
            transform: rotate(-180deg);
        }
    }
}