@import '../../styles/required';

$control-height: 20px;
$knob-size: 14px;
$knob-spacer: 2px;

.wf-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &__input {
        @include sr-only;
    }

    &__control {
        background-color: transparent;
        border: 1px solid rgba(var(--wf_interface-soft));
        border-radius: calc($control-height / 2);
        height: $control-height;
        position: relative;
        transition: $transition-timing background-color, $transition-timing border-color;
        width: calc($control-height * 2);

        &--active {
            background-color: rgba(var(--wf_success, 1));
            border-color: rgba(var(--wf_success, 1));
        }
    }

    &__input:focus-visible + &__control {
        @include focus-success;
    }

    &__knob {
        background-color: rgba(var(--wf_interface-soft));
        border-radius: 50%;
        height: $knob-size;
        left: $knob-spacer;
        position: absolute;
        top: $knob-spacer;
        transition: $transition-timing left, $transition-timing background-color;
        width: $knob-size;

        &--active {
            background-color: rgba(var(--wf_white, 1));
            left: calc(100% - $knob-size - $knob-spacer);
        }
    }

    &__label {
        line-height: 1.25rem;
        margin-left: 0.75rem;
    }
}